Django>=4.2,<5.0
djangorestframework>=3.14,<3.16
psycopg2-binary>=2.9,<3.0
python-dotenv>=1.0,<1.1
django-cors-headers>=4.0,<4.4
dj-rest-auth>=5.0,<5.1 # Added for easier auth endpoint setup
djangorestframework-simplejwt>=5.3,<5.4 # Needed by dj-rest-auth for JWT
django-fernet-fields-v2>=0.9 # Replaces django-fernet-fields for Django 4+ compatibility
cryptography>=3.4 # Dependency for django-fernet-fields
django-allauth>=0.51.0 # Required by dj-rest-auth
requests>=2.20.0 # Required by django-allauth for social/OAuth features
argon2-cffi>=20.1.0 # Required for Argon2PasswordHasher